
.page {}
.btn {}

ul {
  margin:0;
  padding:0;
}
ul li {
  padding:10px;
  list-style:none;
}
#files-list li.editing {
  background-color:lightgreen;
}
#files-list .editing .display,
#files-list .edit {
  display: none;
}
#files-list .editing .edit {
  display: block;
}
.file .item-label,
.solution .item-label
{
  font-size:1.3em;
}
.file, .solution {
  line-height:2.2em;
}

.optimize {
  display:none;
  margin-top:15px;
  padding:10px;
  background-color:#eee;
}
.solutions-list {
  display:none;
}
.panel {
  position:absolute;
  background-color:#eee;
  border:1px solid black;
  margin:10px;
  display:block;
  height:300px;
  overflow:scroll;
}

#upload-form {
  padding:10px;
  margin-bottom:0px;
}
#upload-form button[type="submit"] {
  margin:0px;
}
#upload-form input[type="file"] {
  color:#aaa;
}
#upload-form input {
  margin-right:5px;
}

#autobot {
  background:url('../img/autobot.jpg') no-repeat;
  width:60px;
  height:60px;
  margin-top:7px;
  background-size:60px;
  text-indent:-9999px;
}
.navbar .brand {
  text-align:center;
}
.navbar span {
  display:block;
  margin:0 auto;
}

.btn-navbar {
  color:white;
}

.solution {
  background-color:#eee;
  padding:10px;
}

.solution-stats {
  margin-bottom:10px;
  font-style:italic;
}

.error {
  color:red;
}

table {
  width:100%;
}
