<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Optimus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 110px; /* 110px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/ico/apple-touch-icon-57-precomposed.png">
  </head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        <!--<span>Optimus</span>-->
        <span id="autobot">Optimus</span>
      </a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <i class="icon-upload icon-white"></i>
      </a>
      <div class="nav-collapse">
        <form id="upload-form" class="form-inline" action="/resources" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <br>
            <input class="input-medium" type="text" name="customFilename" placeholder="Filename (optional)" value="">
            <input class="input-medium" type="text" name="description" placeholder="Description (optional)" value="">
            <button class="btn btn-success" type="submit" ><i class="icon-upload icon-white"></i> Upload</button>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <h1>Upload stuff and optimize it</h1>
  <p>Wait... what? More specifically, if you have a list of resources you want to distribute <strong>evenly</strong> among 2 or more "consumers", upload a file in csv format, click the optimize button, choose an algorithm, and enter 2 or more consumers. Even on data sets where ka-billions of combinations exist, this app will produce a <a href="http://en.wikipedia.org/wiki/Heuristic">heuristic</a> "solution" that is "pretty darn good" in a fraction of the time it would take to "brute-force" the best solution.</p>

  <div id="app">
    <div id="files" class="page">
      <ul id="files-list">
      </ul>
    </div>
  </div>

</div> <!-- /container -->


<!-- Templates -->

<script type="text/template" id="file-template">
  <div class="file">
    <div class="display">
      <span class="item-label fileName"><strong>File:</strong> <%=name%></span>
      <br />
      <span class="item-label fileDescription"><strong>Description:</strong> <%=description%></span>
      <br/>
      <button class="btn btn-inverse opt-btn"><i class="icon-play-circle icon-white"></i> Optimize</button>
      <button class="btn edit-btn"><i class="icon-edit"></i> Edit</button>
      <span class="btn btn-primary view-file-btn"><i class="icon-list-alt icon-white"></i> View File</span>
      <a class="btn btn-primary view-sol-btn"><i class="icon-list-alt icon-white"></i> View Solutions</a>
    </div>
    <div class="edit">
      <label for="nameField">File Name: </label>
      <input class="nameField" name="nameField" type="text" value="<%= name %>" />
      <span class="error nameFieldError"></span>
      <br />
      <label for="descField">Description: </label>
      <input class="descField" name="descField" type="text" value="<%= description %>" />
      <br />
      <button class="btn btn-success done"><i class="icon-ok icon-white"></i> Done</button>
      <button class="btn btn-danger file-destroy"><i class="icon-trash icon-white"></i> Delete</button>
    </div>

    <!-- This is unforgivable repetition, FIX! -->
    <div class="optimize">
      <select name="algorithm">
        <option value="genetic">Genetic</option>
        <option value="annealing">Simulated Annealing</option>
        <option value="hillclimb">Hill Climbing</option>
        <option value="random">Random</option>
      </select>
      <br/>
      <label for="consumersField">Distrubute among:</label>
      <input class="consumersField" type="text" name="consumersField" placeholder="comma, seperated, list" />
      <span class="error consumersFieldError"></span>
      <br />
      <button class="btn btn-success" data-loading-text="Optimizing..."><i class="icon-play-circle icon-white"></i> Do it!</button>
    </div>
    <!-- ------------------------------------- -->

    <ul class="solutions-list">
    </ul>

  </div>
</script>

<script type="text/template" id="solution-template">
  <div class="solution">
    <span class="item-label">
      Cost: <%=cost%>, 
      Algorithm: <%=algorithm%>,
      Consumers: (<%=consumers.length%>)
    </span>
    <br>
    <a class="btn btn-primary sol-details-btn"><i class="icon-list-alt icon-white"></i> Details</a>
    <button class="btn btn-danger solution-destroy"><i class="icon-trash icon-white"></i> Delete</button>
  </div>

</script>

<script type="text/template" id="file-display-template">
  <table class="table-striped table-bordered table-condensed">
    <%var data = _.clone(data);
      var header = data.shift();
    %>
    <thead>
      <tr>
        <% _.each(header.split(','),function(item){%>
          <th><%=item%></th>
        <%})%>
      </tr>
    </thead>
    <tbody>
      <% _.each(data,function(row){%>
        <tr>
          <% _.each(row.split(','),function(item){%>
            <td><%=item%></td>
          <%})%>
        </tr>
      <%})%>
    </tbody>
  </table>
</script>

<script type="text/template" id="solution-display-template">
  <div class="solution-stats">
    Cost: <%=data.cost%><br>
    Algorithm: <%=data.algorithm%>
  </div>
  <table class="table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <% _.each(data.consumers,function(item){%>
          <th><%=item%></th>
        <%})%>
      </tr>
    </thead>
    <tbody>
      <% _.each(data.matrix,function(row){%>
        <tr>
          <% _.each(row, function(item){%>
            <td><%=item%></td>
          <%})%>
        </tr>
      <%})%>
    </tbody>
  </table>
</script>

<script type="text/template" id="panel-template">
  <div class="modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3></h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
    </div>
  </div>
</script>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/js/underscore.js"></script>
<script src="/static/js/backbone.js"></script>
<script src="/static/js/models.js"></script>
<script src="/static/js/views.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>
