<!doctype html>
<html>
<head>
  <title>Optimus</title>
  <style>
    .page {border:1px solid red;}
    .btn {background-color:pink;}

    #files-list li.editing {
    }
    #files-list .editing .display,
    #files-list .edit {
      display: none;
    }
    #files-list .editing .edit {
      display: block;
    }
    #files-list .editing input {
    }
  </style>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/underscore.js"></script>
  <script src="/static/backbone.js"></script>
  <script src="/static/main.js"></script>
</head>
<body>
<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
  <label for="file">Upload a file</label>
  <input type="file" name="file"><br> 
  <label for="customFilename">Custom Filename?</label>
  <input type="text" name="customFilename" value=""><br> 
  <label for="description">Description</label>
  <input type="text" name="description" value=""><br> 
  <input type="submit" name="submit" value="Submit">
</form>

<section id="resourceFiles" class="page">
  <header>
    <hgroup>
      <h1>Resources</h1>
      <h2>View and upload resources</h2>
    </hgroup>
  </header>
  <div>
    <div class="add">
      <input type="file">
      <span class="btn">
        Upload
      </span>
    </div>
    <ul id="files-list">
    </ul>
    <div class="panel">
    </div>
  </div>
</section>

<!-- Templates -->

<script type="text/template" id="resource-template">
  <div class="resourceFile">
    <div class="display">
      <span>File Name: </span>
      <span class="fileName"><%=name%></span>
      <span>Description: </span>
      <span class="fileDescription"><%=description%></span>

      <span class="fileKey"><%=blobKey%></span>

      <span class="fileDestroy">destroy</span>
    </div>
    <div class="edit">
      <label for="updateName">File Name: </label>
      <input class="updateName" name="updateName" type="text" value="<%= name %>" />
      <label for="updateDescription">Description: </label>
      <input class="updateDescription" name="updateDescription" type="text" value="<%= description %>" />
      <span><%=blobKey%></span>
      <span class="close">Done</span>
    </div>
  </div>
</script>

</body>
</html>
